.git
**/.git
*.zip
bin/
**/bin/
common/libraop/lib/
common/libraop/libopenssl/
common/libraop/libpthre*/
common/libraop/libcodecs/*
!common/libraop/libcodecs/targets/
!common/libraop/libcodecs/targets/include/
!common/libraop/libcodecs/targets/include/**
!common/libraop/libcodecs/targets/linux/
!common/libraop/libcodecs/targets/linux/**
common/libraop/libmdns/*
!common/libraop/libmdns/targets/
!common/libraop/libmdns/targets/include/
!common/libraop/libmdns/targets/include/**
!common/libraop/libmdns/targets/linux/
!common/libraop/libmdns/targets/linux/**
common/libopenssl/
common/libpthreads4w/
common/libcodecs/*
!common/libcodecs/targets/
!common/libcodecs/targets/include/
!common/libcodecs/targets/include/**
!common/libcodecs/targets/linux/
!common/libcodecs/targets/linux/**
common/libmdns/*
!common/libmdns/targets/
!common/libmdns/targets/include/
!common/libmdns/targets/include/**
!common/libmdns/targets/linux/
!common/libmdns/targets/linux/**
common/libpupnp/*
!common/libpupnp/targets/
!common/libpupnp/targets/linux/
!common/libpupnp/targets/linux/**
common/libraop/targets/freebsd/
common/libraop/targets/macos/
common/libraop/targets/solaris/
common/libraop/targets/win32/
